<tr>
    <td>
    <%= Time.iso8601(observation["samplingTime"]) %>
    </td>
    <td>
    <%= observation["sensorProcess"] %>
    </td>
    <td>
    <table>
        <tr>
            <% result = observation["result"]["quantity"] %>
            <td><%= result["name"] %>: <%= result["value"] %> <%= result["uom"] %></td>
        </tr>
    </table>
    </td>
</tr>