<tr>
    <td>
    <%= Time.iso8601(observation["samplingTime"]) %>
    </td>
    <td>
    <%= observation["sensorProcess"] %>
    </td>
    <td>
    <table>
        <tr>
            <% temp = observation["result"]["record"]["quantity"][0] %>
            <td><%= temp["name"] %>: <%= temp["value"] %> <%= temp["uom"] %></td>
        </tr>
        <tr>
            <% light = observation["result"]["record"]["quantity"][1] %>
            <td><%= light["name"] %>: <%= light["value"] %> <%= light["uom"] %></td>
        </tr>
    </table>
    </td>
</tr>