<h1>Sign up</h1>
<%= form_for(:registrations, :url => registrations_path) do |f| %>
<div class="field">
    <%= f.label :organization_code %>
    <br />
    <%= f.text_field :organization_code %>
</div>
<div class="field">
    <%= f.label :organization_name %>
    <br />
    <%= f.text_field :organization_name %>
</div>
<div class="field">
    <%= f.label :username %>
    <br />
    <%= f.text_field :username %>
</div>
<div class="field">
    <%= f.label :first_name %>
    <br />
    <%= f.text_field :first_name %>
</div>
<div class="field">
    <%= f.label :last_name %>
    <br />
    <%= f.text_field :last_name %>
</div>
<div class="field">
    <%= f.label :email %>
    <br />
    <%= f.text_field :email %>
</div>
<div class="field">
    <%= f.label :password %>
    <br />
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :retype_password %>
    <br />
    <%= f.password_field :retype_password %>
</div>
<div class="actions">
    <%= f.submit "Sign Up" %>
</div>
<% end %>